alpha-prototype-react/.idea
alpha-prototype-react/.git
alpha-prototype-react/node_modules
AlphaPrototypeNET/.vs
AlphaPrototypeNET/AlphaPrototypeNET/bin
AlphaPrototypeNET/AlphaPrototypeNET/obj
AlphaPrototypeNET/AlphaPrototypeNET.XUnit/bin
AlphaPrototypeNET/AlphaPrototypeNET.XUnit/obj
AlphaPrototypeNET/packages